
/**
 * Style: Fixes for IE 6 and earlier
 * Nirvana Fluid theme
 */


/* ........................ */
/* ..... layout fixes ..... */

* html #left-sidebar { /* IE 6 fix */
  left: 180px; /* #right-sidebar width */
  }

div.sidebar ul.menu li a {
  width: 94%; /* needed to eliminate nasty white space under links */
  }

/* ..... end layout fixes ..... */
/* ............................ */



/* .......................... */
/* ..... list overrides ..... */

li.expanded, li.collapsed, li.leaf {
  list-style-image: none;
  }

/* ..... end list overrides ..... */
/* .............................. */



/* .......................... */
/* ..... menu overrides ..... */

#footer ul.menu li {
  padding-right: 2px;
  margin-right: 5px;
  }
#footer ul.menu li.last {
  margin-right: 0;
  }

/* ..... end menu overrides ..... */
/* .............................. */
